@font-face {
    font-family: 'DMSans';
    src: url(../fonts/static/DMSans-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'DMSans', sans-serif;
    background-color: #FBF3E7;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

h2 {
    font-size: 3rem;
    font-weight: 800;
}

/* CLASSE UTILITAIRE */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.color-black {
    color: black;
}

.color-white {
    color: white;
}

.btn {
    background-color: #0A513A;
    font-size: 1.3em;
    border-radius: 1rem;
    padding: 1em;
    font-weight: 600;
    display: inline-block;
}

.btn--header {
    background: linear-gradient(90deg, #0A513A, #749A2B);
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}

.form-style {
    background-color: #F2F3F4;
    border: none;
    border-radius: 5px;
}

/* HEADER */
.header {
    background-color: white;
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px rgba(124, 124, 124, 0.554);
}

.header__logo {
    height: 100px;
}

.header__nav {
    border-bottom: solid 1px rgba(124, 124, 124, 0.554);
}

.header__nav-list {
    gap: 4rem;
    padding: 1em;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.header__nav-link {
    font-weight: 600;
    font-size: 1.3rem;
    color: black;
}

/* HERO */
.hero {
    display: flex;
    width: 100%;
    padding: 8em 0;
}

.hero__img {
    height: 30vh;
    border-radius: 2em 0 0 0;
    box-shadow: 10px 10px 0px #0A513A;
}

.hero__subtitle {
    font-size: 2rem;
}

.hero__text {
    font-size: 1.3rem;
}

.hero__button {
    margin-top: 1em;
}

.hero__title {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
}

/* PROJECTS */
#projects {
    margin-top: 5em;
}

.projects__title {
    font-size: 2rem;
    font-weight: 800;
}

.projects__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0;
    padding: 0 0 8em;
}

.projects__card-title {
    font-size: 2rem;
    padding-bottom: 1em;
    font-weight: 900;
    border-bottom: 1px solid #e0e0e0;
}

.projects__card-text {
    font-size: 1.4rem;
    padding-bottom: 1em;
}

/* MISSION */
#mission {
    background-image: url("../img/farmer-bg.jpg");
    background-position: center;
    background-size: cover;
    padding: 6em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 5em 3em;
    gap: 3em;
}

.mission__content {
    padding: 1em;
    font-size: 1.4rem;
}

.mission__title {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

.mission__text {
    line-height: 1.6;
    margin-bottom: 1.5em;
}

.mission__list {
    margin-bottom: 2em;
    display: grid;
    padding-left: 15px;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em 2em;
}

.mission__list-item {
    font-size: 1.3rem;
    list-style-type: circle;
    list-style: #0A513A;
    padding: 0;
}

.mission__img {
    width: 300px;
    border-radius: 0.8em;
    object-fit: cover;
}

/* NEWS */
#news {
    margin: 10em 0;
}

.news__tag {
    display: inline-block;
    border: 1px solid black;
    border-radius: 16px;
    padding: 0.5em 1em;
}

.news__image {
    width: 50%;
    max-height: 300px;
    border-radius: 1rem;
}

.news__article-content {
    padding: 10px;
    width: 50%;
    font-size: 1.3rem;
}

.news__article-content-secondary {
    padding: 10px;
    font-size: 1.3rem;
}

.news__image--small {
    width: 100%;
    max-height: 200px;
}

.news__article--main {
    display: flex;
    gap: 2em;
}

.news__article--secondary {
    width: 33%;
    margin-top: 2em;
    padding: 5px;
}

.news__secondary {
    display: flex;
    gap: 1rem;
}

.news__link {
    color: #EE732B;
    text-decoration: underline;
}

.news__action {
    margin: 4em 0;
    text-align: center;
}

/* GALLERY */
#gallery {
    margin-bottom: 10em;
}

.gallery__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 15px;
}

.gallery__content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px
}

.grid__img-1 {
    grid-row: 1/3;
}

.grid__img-2 {
    grid-column: 3/4;
    grid-row: 1/3;
}

.grid__img-3 {
    grid-row: 3;
    grid-column: 1/3
}

/* VIDEO */
#video h2 {
    text-align: right;
}

#video {
    margin: 10em 0;
}

.video__container {
    display: flex;
    align-items: center;
    gap: 2em;
    width: 100%;
}

.btn__video-container {
    text-align: center;
    margin: 4em 0;
}

.btn__video {
    display: inline-block;
    background-color: #EE732B;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    font-size: 1.3rem;
}

/* DONATION */
#donation {
    background-color: #749A2B;
    color: white;
}

#donation h2 {
    margin: 0;
}

.donation__container-title p {
    font-size: 1.5rem;
}

.donation__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4em 0;
}

.donation__container-btn {
    background-color: white;
    padding: 1em;
    border-radius: 8px;
    font-size: 1.5rem;
}

.donation__container-btn a {
    color: #0A513A;
}

/* SPONSOR */
#sponsor {
    margin: 10em 0;
}

.sponsor__img-container {
    display: flex;
    justify-content: space-between;
}

.sponsor__img-container img {
    height: 80px;
}

/* FOOTER */
.footer {
    background-color: #0A513A;
    color: white;
}

.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
}

.footer__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    font-size: 1.3rem;
}

.footer__nav-list {
    padding: 0;
    line-height: 2em;
    margin: 0;
}

.footer__nav-item a {
    color: white;
}

.footer__title {
    text-decoration: underline;
    font-weight: 800;
    font-size: 2rem;
}

.footer__map {
    border-radius: 2em;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.footer__copyright {
    font-size: 1.2rem;
    padding-bottom: 1.5em;
}

/* DONATION PAGE */
/* BANNER */
#cta__banner {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 4px;
    padding: 1em 0;
    background: linear-gradient(240deg, #0A513A, #749A2B);
}

/* CONTRIBUTE */
#contribute {
    margin: 8em 0;
}

.contribute__content {
    display: flex;
    padding: 4em;
    gap: 2em;
}

.contribute__img-container img {
    width: 700px;
    height: 450px;
    object-position: bottom;
    object-fit: cover;
    box-shadow: -10px 10px 0px #0A513A;
    border-radius: 8px;
}

.contribute__title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 1em;
}

.contribute__title-container h2 {
    margin: 0;
}

.contribute__btn-container {
    line-height: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.contribute__btn {
    background-color: #EE732B;
    color: white;
    border-radius: 8px;
    font-size: 1.5em;
}

.contribute__condition {
    font-size: 1.3rem;
    color: gray;
    text-decoration: underline;
}

/* FORM */
#form {
    margin-bottom: 10em;
}

.form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    max-width: 600px;
}

.form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form__title {
    text-align: center;
    margin-bottom: 2rem;
}

.form__title h2 {
    margin-bottom: 0.5rem;
}

.cta__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    width: 100%;
    max-width: 1000px;
}

.cta__form-label {
    display: block;
    margin-bottom: 0.5rem;
}

.cta__form-input {
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: #F9F9F9;
    border-radius: 4px;
    font-size: 1rem;
}

.form__div,
.form__div-card {
    grid-column: 1 / -1;
}

.form__div-small {
    grid-column: span 1;
}

.form__container a {
    display: inline-block;
    width: 400px;
    padding: 1rem 2rem;
    background-color: #EE732B;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 1.5rem;
    font-size: 1.4rem;
}

/* CONTACT */
#contact__banner {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 4px;
    padding: 1em 0;
    background: linear-gradient(240deg, #0A513A, #749A2B);
}

#contact__form {
    margin: 10em 0;
}

.contact__content {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2em;
    margin: ;
}

.contact__form-content form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2em;
}

.contact__form-content form>input {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    font-size: 1.2rem;
}

textarea {
    background-color: #F2F3F4;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

.btn-contact {
    background-color: #0A513A;
    color: white;
    border-radius: 8px;
    text-align: start;
}

.contact__form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#contact__cta {
    background-color: #0A513A;
    color: white;
    text-align: center;
    padding: 8em 0;
    border-bottom: solid 2px white;
}

.contact__btn-container a {
    display: inline-block;
    gap: 2em;
}

.btn__contact-first {
    background: linear-gradient(90deg, #0A513A, #749A2B);
    padding: 1em;
    color: white;
    border-radius: 8px;
}

.btn__contact-second {
    background-color: #EE732B;
    padding: 1em;
    color: white;
    border-radius: 8px;
}

/* ARTICLES */
#articles__banner {
    text-align: center;
    color: white;
    padding: 1em 0;
    background-color: #0A513A;
}